.toolbar {
    position: fixed;
    display: flex;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999999999999999; // TODO variables
}

.toolbar-inner {
    backface-visibility: hidden;

    .toolbar-closed & {
        max-height: 30px;
        opacity: 0;

        .toolbar-action {
            opacity: 0;
        }
    }

    .toolbar-opening &,
    .toolbar-closing & {
        opacity: 1;
    }

    opacity: 1;
    transition: max-height 0.25s;
    position: absolute;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    max-height: 350px;
    background-color: rgba(black, 0.85);
    border-radius: 15px;
}

.toolbar-avatar {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    border-radius: 15px;
    opacity: 1;

    .toolbar-closed & {
        opacity: 0;
    }
}
.toolbar-action {
    border-radius: 15px;
    color: white;
    fill: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.2s;

    &:hover,
    &:focus {
        background-color: rgba(white, 0.1);
    }
}
