//##############################################################################
// CLIPBOARD

.clipboard {
    display: none;
}

.clipboard-containers {
    display: none !important;
    // custom style for draggable item
    .dragarea {
        padding-top: $padding-base;
    }
    .draggable {
        display: block !important;
        position: relative;
        top: 0;
        left: 0;
        border-radius: $border-radius-base;
        cursor: move;
    }
    .draggable .dragitem {
        line-height: $structure-dragitem-fullheight;
        height: $structure-dragitem-fullheight;
        padding-left: $padding-large;
    }
    .draggable .dragitem .submenu-btn {
        display: none !important;
    }
    .draggable .dragitem-text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 40px;
    }

    .plugins {
        display: none;
    }
    .droppable {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: z(structure, content, empty, droppable);
        color: darken($gray-lighter, 15%);
        line-height: $structure-dragitem-height;
        height: auto;
        margin: 0;
        border: 2px solid $color-primary;
        border-radius: $border-radius-base;
        background-color: mix(white, $color-primary, 90%);
        box-shadow: none;
        transform: translateY(0) !important;
        &:before {
            display: none;
        }
    }
}

.modal-markup .clipboard-containers {
    display: block !important;
    .is-dragging {
        display: block !important;
        opacity: 0.3;
    }
}
